export TF_VAR_hosturl="https://192.168.2.254"
export TF_VAR_username="us3r"
export TF_VAR_password="p4ssw0rd"
export TF_ENCRYPTION='{"key_provider":{"pbkdf2":{"state":{"passphrase":"<at least 16 random characters, keep a copy outside this machine>"}}}}'
