global
    user haproxy
    group haproxy
    chroot /var/lib/haproxy
    log stdout format raw local0 info
    stats timeout 30s
    ssl-default-bind-options ssl-min-ver TLSv1.2
    tune.ssl.default-dh-param 2048
    maxconn 100000

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout client-fin 30s
    timeout server 120s
    timeout tunnel 6h
    timeout http-request 5s
    maxconn 80000

backend http-301
    mode http
    redirect scheme https code 301

backend http-nginx-ingress
    mode http
    server ingress-server 10.0.0.10:80

backend https-nginx-ingress
    mode tcp
    server ingress-server 10.0.0.10:443


backend http-koaloo-web
   mode http
   server ingress-server 10.3.0.10:80

backend https-koaloo-web
   mode tcp
   server ingress-server 10.3.0.10:443

backend incus-cluster
    mode tcp
    balance source
    option tcp-check
    server clever-lynx 10.1.0.1:8443 check
    server gentle-fox 10.1.0.2:8443 check
    server mighty-deer 10.1.0.3:8443 check
    server brave-whale 10.1.0.4:8443 check
    server mighty-rabbit 10.1.0.5:8443 check
    server clever-panda 10.1.0.6:8443 check

frontend http-dispatcher
    bind :8080
    mode http

    acl host_iaas hdr(host) -i iaas.phorge.fr
    http-request redirect scheme https code 301 if host_iaas

    acl host_koaloo hdr(host) -i -m end .koaloo.app
    use_backend http-koaloo-web if host_koaloo

    default_backend http-nginx-ingress

frontend sni-dispatcher
    bind :8443
    mode tcp

    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }

    use_backend incus-cluster if { req.ssl_sni -i iaas.phorge.fr }

    use_backend https-koaloo-web if { req.ssl_sni -i -m end .koaloo.app }

    default_backend https-nginx-ingress
